TELEGRAM_BOT_TOKEN=
YOUR_CHAT_ID=
ANKI_CONNECT_URL=http://127.0.0.1:8765
ANKI_EXECUTABLE_PATH=F:\Productivity\Anki Cards\Anki\anki.exe
DEFAULT_DECK=Default
DEFAULT_NOTE_TYPE=Basic
AUTO_MODE=false
FIRST_RUN_DONE=false
ANKI_STARTUP_TIMEOUT_SEC=40
TELEGRAM_REQUEST_TIMEOUT_SEC=15
STARTUP_DELAY_SEC=15
